nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
}

nav a {
    text-decoration: none;
    border: 1px solid blue;
    padding: 1.5em;
    color: black;
}

nav div {
    display: flex;
    align-items: center;
    flex: 1;
    margin-left: 20px;
    margin-right: 20px;
}

nav div:nth-child(2) {
    justify-content: space-between;
    flex: 0.75;
}

nav div:last-child {
    justify-content: end;
}

nav div img {
    width: 64px;
    height: 64px;
    border: 1px solid black;
}

#map{
    height: 400px;
}
#fast_flush {
    display: flex;
    justify-content: center;
    margin: 30px;
}

#fast_flush a {
    text-decoration: none;
    border: 1px solid blue;
    padding: 1.5em;
    color: black;
}

.filters {
    
    border: 1px solid black;
}

.filters > div {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}