nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
}

nav a {
    text-decoration: none;
    border: 1px solid black;
    padding: 1.5em;
    color: black;
}

nav div {
    display: flex;
    align-items: center;
    flex: 1;
    margin-left: 20px;
    margin-right: 20px;
}

nav div:nth-child(2) {
    justify-content: space-between;
    flex: 0.75;
}

nav div:last-child {
    justify-content: end;
}
nav div img {
    width: 64px;
    height: 64px;
    border: 1px solid black;
}