<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Thron Express | {% block title %}{% endblock %}</title>
		<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='CSS/style.css')}}">
		{% block extra_head %}{% endblock %}
	</head>
	<body>
		<nav>
			<div>
				<img src="" alt="logo">
				<a href="/">Thron Express</a>
			</div>
			<div>
				<a href="">Find a Thron</a>
				<a href="">Become a Host</a>
			</div>
			<div>
				{% if isLogged %}
				<a href="/profile">
					<img src="">
				</a>
				{% else %}
				<a href="/login">Login | Sign up</a>
				{% endif %}
			</div>
		</nav>
		{% block contenu0 %}{% endblock %}
		<footer>
		</footer>
	</body>
</html>
