{% extends "profile_base.html" %}

{% block contenu1 %}
{% if session['isHost'] %}
<h1>You have several bathroom ?</h1>
<p>ThronExpress allows you to share several bathrooms with other users</p>
{% else %}
<h1>You want to be a host ?</h1>
<p>
    Get a compensation for sharing your bathroom with other users !
    <br>You simply need to give us some informations and after approval, you will be able to be part of our host community
</p>
{% endif %}

<h2>Add a new bathroom: </h2>
<h3 style="color:red; text-align: center;">{{ msg }}</h3>
<form action="/thron/new/submit" method="POST">
    <div>
        <label for="street">Street: </label>
        <input type="text" name="street" placeholder="Street" required>
    </div>
    

    <div>
         <label for="city">City: </label>
        <input type="text" name="city" placeholder="City" required>   
    </div>


    <div>
        <label for="zipcode">ZipCode: </label>
        <input type="text" name="zipcode" placeholder="ZipCode" required>
    </div>
    
    <div>
        <label for="country">Country: </label>
        <input type="text" name="country" placeholder="Country" required>
    </div>
    
    <hr class="centered">
    <label class="centered">Options:</label>
    
    <div>
        <label for="hasShower">Shower: </label>
        <input type="checkbox" name="hasShower">
    </div>
    <hr class="half">

    <div>
        <label for="hasDisabledAccess">Disabled access: </label>
        <input type="checkbox" name="hasDisabledAccess">
    </div>
    
    <hr class="half">

    <div>
        <label for="hasChangingRoom">Baby changing: </label>
        <input type="checkbox" name="hasChangingRoom">
    </div>
    
    <hr class="half">
    
    <div>
       <label for="hasLuxury">Luxury: </label>
        <input type="checkbox" name="hasLuxury"> 
    </div>

    <input type="submit" value="Become a host now">
</form>
{% endblock %}